# Core namespace support
CONFIG_NAMESPACES=y
CONFIG_PID_NS=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y

CONFIG_CGROUP_NS=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SYSVIPC=y

# Devtmpfs
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# Addon Kernel Support For EFI
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_VARS=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_UFS_EFI=y
CONFIG_EFIVAR_FS=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_EFI_CAPSULE_LOADER=y

# Addon Kernel Support For ACPI
CONFIG_ACPI=y
CONFIG_ACPI_TABLE_LIB=y
CONFIG_ACPI_ARM_SMMU_V3=y
CONFIG_ACPI_GTDT=y
CONFIG_ACPI_NUMA=y
CONFIG_ACPI_HOTPLUG_NUMA=y
CONFIG_ARM_SMMU_V3=y
CONFIG_ACPI_APEI=y
CONFIG_ACPI_PCI_SLOT=y

# Addon KPROBES
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_KRETPROBES=y

# Addon BPF
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_EBPF_JIT=y
CONFIG_BPF_EVENTS=y
CONFIG_BPF_KPROBE_OVERRIDE=y

# FS Support
CONFIG_NTFS_FS=y
CONFIG_UDF_FS=y
CONFIG_NTFS_RW=y
CONFIG_ISO9660_FS=y

# Werror
CONFIG_CC_WERROR=n
CONFIG_WERROR=n

# other
CONFIG_BQ2597X_CHARGER=n

# Virtual
CONFIG_KVM=y
CONFIG_KVM_ARM_HOST=y
CONFIG_VIRTUALIZATION=y
CONFIG_ARM64=y
CONFIG_ARM64_PAGE_SHIFT=12
CONFIG_ARM64_VA_BITS_48=y
CONFIG_KVM_ARM_PMU=y
CONFIG_KVM_GENERIC_DIRTYLOG=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_VHOS=y
